.button {
    
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #FF385C;
    color: #fff;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    &:hover {
        background-color: #EBEBEB; 
        color:#FF385C;  
    }
}
