.container {
    background-color: #fff;
    position: relative;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 2rem auto 2rem minmax(min-content, max-content);
    grid-template-columns: 2rem 350px auto 350px;
}

.list-accomodation {
    position: relative;
    z-index:1;
    grid-row: 1 /span 3;
    grid-column: 1/ -1;
}