.accomodation {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 14px;

    img {
        margin-right: 20px;
        width: 340px;
        height: 220px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    p {
        color: #29292e;
        margin-bottom: 8px;
    }

    h2{
        color: #000;
        font-size: 20px;
        margin-bottom: 8px;

    }
    header{
        display: flex;
        flex-direction: column;
        

    }

    input{
        display: flex;
        border-radius: 800px;
        padding: 10px;
        border: 1px solid #B0B0B0;
        color: #222222;
        height: 30px;
        
    }

    label{
        margin-top: 20px;
        margin-left: 10px;
        display: flex;
    }

    button{
        margin-top: 20px;
        margin-left: 5px;
        border-radius: 800px;
        padding-left: 30px;
        padding-right: 30px;
        border: 1px solid #B0B0B0;
        color: #fff;
        height: 30px;
        cursor: pointer;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;

        span {
            margin-left: 8px;
            color: #737380;
            font-weight: 500;
            font-size: 14px;
        }
    }
}


