
.accomodation {
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;

    img {

    }

    p {
        color: #29292e;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        span {
            margin-left: 8px;
            color: #737380;
            font-weight: 500;
            font-size: 14px;
        }
    }
}