#page-home {
    
    header {
        padding: 24px;
        border-bottom: 1px solid #e2e2e2;
    
        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > img {
                width: 30px;
                max-height: 25px;  
            }
        }

        .nav-container {
            ul {
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                margin-left: 10rem;
                justify-content: flex-end;
                align-items: center;
                text-transform: capitalize;
                font-family: 'Poppins', sans-serif;

                li a  {
                    border-radius: 999px;
                    color: #fff;
                }

                input {
                    
                    border-radius: 800px;
                    margin: 0 auto;
                    padding: 10px;
                    border: 1px solid #B0B0B0;
                    color: #222222;
                    height: 30px;
                    width: 446px;
                }

                li {
                    margin-top: 10px;
                    text-align: center;
                    border-radius: 8px;
                    background: #fff;
                    justify-content: space-between;
                    color: #222222;
                    padding: 10px;
                    align-items: center;

                    cursor: pointer;
                    border: 0;
                    transition: filter 0.2s;

                    &:hover {
                        filter: brightness(0.9);
                        background-color: #EBEBEB;   
                    }
                }

                li a {
                    text-decoration: none;
                    color:inherit;
                }
            }
        }
    }

    .icon{
        margin-left: 10px;
    }

    main {
        max-width: 1120px;
        margin: 0 auto;

        .home-title {
            margin: 32px 0 24px;
            display: flex;
            align-items: center;
            padding: 24px;
            border-bottom: 1px solid #e2e2e2;
    
            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: #29292e;
            }
        }
    }
}
