#page-home {
    header {
        padding: 24px;
        border-radius: 1px solid #e2e2e2;

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > img {
               max-height: 25px; 
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;

        .home-title {
            margin: 32px 0 24px;
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: #29292e;
            }
        }
    }
}

